@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  background-image: url(AV_forms.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family:Arial, Helvetica, sans-serif;
}
 
.btn{
  position: absolute;
  top: 15px;
  left: 25px;
  height: 45px;
  width: 45px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}
.btn.click{
  left: 260px;
}
.btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}
.btn.click span:before{
  content: '\f00d';
}
.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #dbc894;
  opacity: 0.;
  transition: left 0.4s ease;
}
.sidebar.show{
  left: 0px;
}
.sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}
nav ul{
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a{
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}
nav ul li a:hover{
  background: #1e1e1e;
}
nav ul ul{
  position: static;
  display: none;
}
nav ul .feat-show.show{
  display: block;
}
nav ul .serv-show.show1{
  display: block;
}
nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
nav ul li.active ul li a{
  color: #e6e6e6;
  background: #141414;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: cyan!important;
  background: #1e1e1e!important;
}
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: black;
  z-index: -1;
  text-align: center;
}
.content .header{
  font-size: 45px;
  font-weight: 600;
}
.content p{
  font-size: 30px;
  font-weight: 500;
}

.menu-bar{
  background: rgb(247, 226, 181);
  text-align: center;

}

.menu-bar ul{
  display: inline-flex; 
  list-style: none;
  color: rgb(236, 218, 166);
}

.menu-bar ul li{
  width: 300 0 3px;
  padding: 20px 0 20px;    
  margin: 0 70px 0;

}

.menu-bar ul li a {
  text-decoration: none;
  color: black;
  margin-top: 0;
}



.sub-menu-1{
  display: none;

}

.menu-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: rgb(247, 226, 181);
  margin-top: 20px;
  margin-bottom: 20px;

}

.menu-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 0 -50px 0;

}

.menu-bar ul li:hover .sub-menu-1 ul li {
  width: 250px;
  padding: 10px;
  border-bottom: 1px solid black;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
  border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
  color:white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 75px;
}


.logo img {
  width: 76px;
  height: 75px;
} 


.menu-bar .fa{
  margin-right: 8px;
}


.active, .menu-bar ul li:hover 
{
    background: rgb(211, 166, 108) ;
    border-radius: 100px;
}

.three{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 5px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  #mySearch {
    width: 248px;
    font-size: 18px;
    padding: 10px;
    border:1px solid #000000;
    display: center;
    border-radius: 10px;
  }


  .sidebar .administrator-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    background-color: #D6D4C4;
    margin-bottom: 30px;
    padding: -20px; /* Decrease the padding */
  }
  
  .sidebar .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px; /* Add margin to separate the administrator container and image */
  }
  
  .sidebar .admin-text-container {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 500;
    margin: 0;
  }
  
  .sidebar .admin-image {
    width: 80px; /* Adjust the width as needed */
    height: 70px; /* Adjust the height as needed */
    border-radius: 50%; /* Make it a perfect circle */
    overflow: hidden; /* Ensure that the image stays within the circular boundary */
  }
  
  .sidebar .logout-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
  }
  
  .sidebar .logout-button {
    background-color: #1e1e1e; /* Choose a color for the button */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sidebar .logout-button:hover {
    background-color: #96844D; /* Choose a darker color for hover effect */
  }


/* TABLE */
table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 8px;
  overflow: hidden;

}

th, td {
  border: 1px solid #e1e1e1;
  text-align: left;
  padding: 15px;
  background-color: #f9f9f9;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  width: 70px;
  text-align: center;
  font-weight: bold;
  color: #333;
}

form{
  text-align: center;
}

#search {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
  margin-top: 30px;
  width: 600px; /* Adjust the width as needed */
}

#Sbutton {
  padding: 8px 12px;
  background-color: #4b4b48;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#Sbutton:hover {
  background-color: #000000;
}

